body {
  margin: 0;
  /* background-color: #e6e6fa; */
}

#title {
  background-color: #e6e6fa;
  color: #6a5acd;
  /*
  background-color: #ff4c68;
  color: #fff;
  */
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  /* font-family: 'Merriweather Sans-Bold', sans-serif; */
  font-weight: bolder;
  font-size: 3rem;
  line-height: 1.5;
}
h2:hover{
  color: #6a5acd;

}

h3 {
  /* font-family: 'Merriweather Sans', sans-serif; */
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: bolder;
}

p {
  color: grey;
}

.container-fluid {
  padding: 3% 3%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem 1.5rem;
  text-align: center;

}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat - light', sans-serif;
  font-size: 1.2rem;
}



.dropdown-menu.show {

  background-color:#e6e6fa;
}

/* Navigation Button */
.download-button {
  margin: 10% 15% 15% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(30deg);
  position: absolute;
  right: 25%;
  /* border-radius: 100%;
  border: solid #fff; */


}

/* Objectives */
#objectives {
  padding: 5% 10%;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}

.objective-box {
  text-align: center;
  padding: 5%;
}

.logo {
  color: #5bc0de;
  margin-bottom: 1rem;
}

.logo:hover {
  color: #6a5acd;
}

/* Sayings */
/* #sayings {
  text-align: center;
  background-color: #e6e6fa;
  color: #6a5acd;
}

.sayings-image {
  width: 10%;
  border-radius: 100%;
  margin: 2%;
  /* padding 2% instead makes the image smaller kinda */
/* }
dfdf */

.carousel-item {
  padding: 5% 10%;
}

/* Medeias */
/* #medias {
  background-color: #e6e6fa;
  text-align: center;
  padding-bottom: 2%;
}

.media-logo {
  width: 10%;
  margin: 2% 5%;
} */

/* Links */
#links {
  text-align: center;
  padding: 3%;
}

.links-column {
  padding: 2%;
}

/* COPYRIGHTS */
/* #copyrights {
  text-align: center;
  background-color: #e6e6fa;
  padding: 5% 10%;
}

.copys {
  font-size: 3.5rem;
  line-height: 1;
} */

#footer {
  text-align: center;
  padding: 5% 10%;
  color: #000;
}

.foo-icon {
  margin: 2% 3%;
}

.foo-icon:hover {
  color: #6a5acd;
}

#mental {
  text-align: center;
  background-color: #e6e6fa;
}

.rowsTable {
  margin-bottom: 9%;
}
.carousel-control-next-icon{
  margin-left: 70%;
  background-color: #5bc0de;
}
.carousel-control-prev-icon{
  margin-right: 70%;
  background-color: #5bc0de;
}


/* #autism {
  text-align: center;
}

#anxietys {
  text-align: center;
  background-color: #e6e6fa;
} */

/* font under the Table */
.h5Table{
  color: #000;

}
.p5Table{
  color: #6a5acd;
}


.liLeft{

  text-align: left;
  margin-bottom: 3%;
  font-size: 95%;
}


@media screen and (max-width: 768px) {
  /* start of medium tablet styles */
  #title {
    text-align: center;
  }


  .title-image {
    position: static;
    transform: rotate(0);
    border-radius: 100%;

  }

  /* .rowsTable {
    margin-bottom: 10%;
  } */
  }
}
/* @media (max-width: 768px) and (min-width: 849px) {

   .rowsTable {
    margin-bottom: 15%;
  } 

}
 */


}

@media (max-width: 480px){
  /* start of phone styles */
  h1{
    font-size: 1.2rem;
    color: yellow;
  }

  .title-image{

    width: 50%;

  }
  h2 {

    font-size: 1.5rem;
  }

  .objective-box {

      padding: 5%;
      font-size: 80%;
  }

  h3{
    font-size: 150%;
  }
  .col-10 {

      padding: 0;
  }
  .rowsTable{

    font-size: 80%;
  }

.carousel-item{

  padding: 0.5% 0;

}
.py-3{
padding: 0.5% 0;

}
.foo-icon{

  font-size: 90%;
}

.navbar {
    padding-bottom: 3.5rem;
}
.navbar-brand{
  font-size: 180%;
}
.nav-link {
    font-size: 1rem;
}

.dropdown-item{
  font-size: 0.8rem;

}



/* .p{
  font-size: ;
} */



/* .carousel-control-next-icon{
  margin-left: 50%;
  background-color: blue;
}
.carousel-control-prev-icon{
  margin-right: 50%;
  background-color: blue;
} */





}
