body {
  margin: 0;
  /* background-color: #e6e6fa; */
}

#title {
  /* background-color: #e6e6fa; */
  color: #5bc0de;
  background-color: #fff;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.3rem;
  line-height: 1.5;
  font-weight: bold;
}

h1:hover {
  color: #6a5acd;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  font-size: 3rem;
  line-height: 1.5;
}

h2:hover {
  color: #6a5acd;
}

h3 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: bolder;
}

p {
  color: grey;
}

.container-fluid {
  padding: 3% 3%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem 1.5rem;
  text-align: center;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-toggler {
  background-color: #5bc0de;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat - light', sans-serif;
  font-size: 1.2rem;
}

.dropdown-item {
  color: #000;
  text-align: center;
  font-size: 0.8rem;
}

/* Navigation Button */
.download-button {
  margin: 10% 15% 15% 0;
}

/* Title Image */
.title-image {
  width: 150%;
  /* transform: rotate(30deg);
  position: absolute;
  right: 25%; */
}

/* Objectives */
#objectives {
  padding: 5% 10%;
  background-color: #ffffff;
  /* position: relative;
  z-index: 1; */
}

.objective-box {
  text-align: center;
  padding: 5%;
}

.logo {
  color: #5bc0de;
  margin-bottom: 1rem;
}

.logo:hover {
  color: #6a5acd;
}

.carousel-item {
  padding: 5% 10%;
}

/* Links */
#links {
  text-align: center;
  padding: 3%;
}

.links-column {
  padding: 2%;
}

#footer {
  text-align: center;
  padding: 5% 10%;
  color: #000;
}

.foo-icon {
  margin: 2% 3%;
}

.foo-icon:hover {
  color: #6a5acd;
}

#mental {
  text-align: center;
  background-color: #fff;
}

.awareness-image{

width: 100%;
/* height: 200%; */
border-radius: 5%;
position: absolute;
right: 0;
left: 0;
bottom: 0;
top: 0;
}


.rowsTable {
  margin-bottom: 9%;
}

.carousel-control-next-icon {
  margin-left: 70%;
  background-color: #5bc0de;
}

.carousel-control-prev-icon {
  margin-right: 70%;
  background-color: #5bc0de;
}

/* font under the Table */
.h5Table {
  color: #000;
}

.p5Table {
  color: #6a5acd;
}

.h5Tables {
  color: #fff;

}
.p5Tables{
  color: #fff;

}

.liLeft {
  text-align: left;
  margin-bottom: 3%;
  font-size: 95%;
}

.needhelpnow-image{
  width: 60%;

}

.reds{
  color: red;
  font-weight: bold;

}


.mukisa {
  font-size: 80%;
  color: #000;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.mukisa:hover {
  color: #6a5acd;
}

.copyright:hover {
  color: #6a5acd;
}

/* .sneedhelpnow-image{
  width: 90%;
  position: absolute;
  left: 4%;

} */




@media (max-width: 768px) {

  /* start of medium tablet styles */
  #title {
    text-align: center;
  }

  .title-image {
    /* position: static;
    transform: rotate(0); */
    width: 80%;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  .objective-box {
    padding: 5%;
    font-size: 80%;
  }

  #links {
    font-size: 80%;
  }

  .btn-link {
    font-size: 85%;
  }

  h3 {
    font-size: 160%;
  }

  .col-10 {
    padding: 0;
  }

  .rowsTable {
    font-size: 90%;
  }

  .carousel-item {
    padding: 0.5% 0;
  }

  .py-3 {
    padding: 0.5% 0;
  }

  .foo-icon {
    font-size: 110%;
  }

  .navbar {
    padding: 0 0 1.5rem;
  }

  .navbar-brand {
    font-size: 190%;
  }

  .navbar-toggler {
    font-size: 80%;
  }

  .nav-link {
    font-size: 1rem;
  }

  .awareness-image{

  width: 100%;
  height: 100%;
  /* border-radius: 10%;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 10; */
  }

  .needhelpnow-image{
    width: 80%;

  }



  /* .dropdown-item {
    font-size: 0.8rem;
  } */
}



/* @media (max-width: 768px) and (min-width: 849px) {

   .rowsTable {
    margin-bottom: 15%;
  }

}



}*/
@media (max-width: 480px) {

  /* start of phone styles */
  h1 {
    font-size: 1.1rem;
  }

  .title-image {
    width: 95%;
  }

  h2 {
    font-size: 2rem;
  }

  .objective-box {
    font-size: 75%;
  }

  .btn-link {
    font-size: 70%;
  }

  #links {
    font-size: 75%;
  }

  h3 {
    font-size: 155%;
  }

  .rowsTable {
    font-size: 85%;
  }

  .foo-icon {
    font-size: 95%;
  }

  .navbar-brand {
    font-size: 165%;
  }

  .navbar-toggler {
    font-size: 55%;
  }

  .nav-link {
    font-size: 0.85rem;
  }

  .dropdown-item {
    font-size: 0.75rem;
  }

  .navbar-toggler {
    background-color: #5bc0de;
  }

  .copyright {
    font-size: 65%;
  }

  .mukisa{
  font-size: 65%;

  }

  .awareness-image{

  width: 100%;
  height: 100%;
  /* border-radius: 10%;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 10; */
  }

.needhelpnow{
  width: 95%;

}


}
